.selections {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
}

.option {
  display: inline-block;
  text-align: center;
  width: 49vw;
  height: 40vh;
  border-radius: 10px;
  margin: 0 auto;
  border: 1px solid #333;
}

.choice {
  margin: 0 auto;
}

.header {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  font-size: 3.5em;
}