@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;1,200;1,300;1,400;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Delicious+Handrawn&family=Edu+NSW+ACT+Foundation:wght@400;500&family=Permanent+Marker&family=Rampart+One&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

.header {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  font-size: 3.5em;
  font-family: 'Rampart One', cursive;
}

.selections {
  width: 100%;
  height: 90vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: flex-start;
}
.option {
  height: 40vh;
  width: 48vw;
  border-radius: 10px;
  margin: 0;
  border: 1px solid #333;
}
.choice {
  margin: 0 auto;
  width: 100%;
  height: 20%;
  margin-top: 17%;
  border-radius: 10px;
  text-align: center;
  font-size: 60px;
}
.one {
  font-family: 'Delicious Handrawn', cursive;
}
.two {
  font-family: 'Edu NSW ACT Foundation', cursive;
}
.three {
  font-family: 'Permanent Marker', cursive;
  line-height: 66px;
}
.four {
  font-family: 'Amatic SC', cursive;
  line-height: 60px;
}
